
body {
    background-color: rgb(44, 40, 64);
}


.logos .marvel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #750000;
    padding: 10px;
    border: 1px solid #1e1b37;
    border-radius: 40px;
}

.logos img {
    width: 10%;
    height: auto;
}

.logos.separador {
    background-color: #000000;
    padding: 20px;
}

.logos .dcLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c287c;
    padding: 10px;
    border: 1px solid #1e1b37;
    border-radius: 40px;
}

.logos .dcLogo img {
    max-width: 100%;
    max-height: auto;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta {
    width: 250px;
    margin: 20px;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.3s ease
}

.tarjeta:hover {
    background-color: #f7b33d;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.tarjeta-content {
    padding: 15px;
}

.tarjeta h3 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    font-size: 24px; 
    max-height: 60px;
    overflow: hidden; 

}


.button {
    background-color: #f7b33d;
    color: white;
    text-align: center;
    font-size: 24px; 
    padding: 15px 40px; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease ;
}

.button:hover {
    transform: scale(1.03);
}

/*  */


@media screen and (max-width: 768px) {
    .logos img {
        width: 100%; 
    }

    .tarjeta {
        width: 90%; 
    }
}
